@charset "UTF-8";


html {
 
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  /*background-image: url("http://www.mx7.com/i/06e/BOcVIq.jpg");*/
  margin: 0;
  padding: 0; }

.btn{
  width: 20vh;
  height: 20vh;  
  position: absolute;
  background-color: #FFC0CB;
 
}
.data{
  top : 7.5vh;
  left : calc(50vw - 10vh);
}

.buy{
  top : 25vh;
  left : calc(25vw - 10vh);
}

.gallery{
  top : 25vh;
  left : calc(75vw - 10vh); 
}

.QA{
  top : 55vh;
  left : calc(25vw - 10vh); 
}

.contact{
  top : 55vh;
  left : calc(75vw - 10vh); 
}

.fix{
  top : 72.5vh;
  left : calc(50vw - 10vh); 
}

@media screen and (max-width : 800px ){
	/*body { background-image: url("http://www.mx7.com/i/107/BHorrI.JPG");*/
 }
