@charset "UTF-8";


html {
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  padding: 0; }



body {
  background-color:#fff;
  font-family:sans-serif;
}



h1{	
	text-align: center;
	margin:0;
  font-size:50px;
  font-weight:300;
  text-align:center;
  color:#000000;
  font-family: "Sukhumvit Set","Prompt", sans-serif;}
p{
	margin:0;
	  padding:0% 25% 0px 25%;
	text-align: center;
    font-family:"Sukhumvit Set","Prompt", sans-serif;
    color:#000;
    font-weight:300;
    font-size:20px;
}

.logoedit{
	margin:auto;
}
.logo {
	width: 700px;
	height:500px;
	background-image: url("http://www.mx7.com/i/266/FtIHch.jpg");
	 margin :auto;
	}

section {
    margin:35vh 0px 0px 0px;
    height:100%;
  }
.logo_desc {
	
	margin:0;
  font-family:"Sukhumvit Set", "Prompt", sans-serif;
  font-weight:300;
  text-align:center;
  margin-top:50px;
  letter-spacing:1px;
  color:#FF686B;
  font-size:70px;
}

.cursor {
  animation: cursor 1s steps(1) infinite;
  opacity:0.7;
  font-weight:100;
}



@media screen and (max-width:800px) {


 
  h1 {
    font-size:50px;
  }


 .p{
	margin:0;
	  padding:0% 8% 0px 8%;
    font-size:15px;
}
}
